<a href="https://colab.research.google.com/github/GillalaJeevana/Jeevana_INFO5502_Spring2022/blob/main/lab_assignment_01_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [23]:
# write your answer here
string1 = input("enter a string :")
count = 0
for i in string1:
  count = count + 1

print("Total number of charactes in the string : ", count)

enter a string :jeevs
Total number of charactes in the string :  5

(2) Write a Python program to sum all the items in a list. (5 points)

In [ ]:
# write your answer here
def sum(items):
    sum_num = 0
    for i in items:
        sum_num += i
    return sum_num
print(sum([+7,-7,0]))

0

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
def char(str):
  x = str[0]
  str = str.replace(x , '$')
  str = x + str[1:]

  return str

print(char("krkkackk"))

kr$$ac$$

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [ ]:
# write your answer here


def cube(number):
    return number * number * number
    
a = float(input("enter first parameter:"))
b = float(input("enter second parameter"))
number =(1 + a/b)
cub = cube(number)
s = 3.14 * cub
print("The result of S =", s)

enter first parameter:4
enter second parameter2
The result of S = 84.78

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
d1={1:10, 2:20}  
d2={3:30, 4:40}  
d3={3:30,5:50} 
d4={6:60,7:70} 
d5 = {}  
for i in (d1, d2, d3, d4): d5.update(i)  
print(d5)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [ ]:
# write your answer here

Tuple1 = (4, 6, 8, 11, 22, 43, 58, 99, 16)
num1 = int(input("Enter the element to find : "))

if num1 in Tuple1:
    print(num1, " exists in the tuple")
else:
    print(num1,"does not exist in the tuple")

Enter the element to find : 44
44 does not exist in the tuple

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [ ]:
# write your answer here
def MAXIMUM(sets):
    return (max(sets))
def MINIMUM(sets):
    return(min(sets))
      
# Driver Code
sets = list([70, 16, 24, 80, 25, 3, 10, 65, 55, 3])
print("The maximum value in a set is :" ,MAXIMUM(sets))
print("The minimum value in a set is :" ,MINIMUM(sets))

The maximum value in a set is : 80
The minimum value in a set is : 3

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [8]:
# write your answer here

import numpy as np, random
stu_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

# the len_group numbers sum upto 30
len_grp =[4, 4, 5, 6, 5, 6]
res = []
for len in len_grp:
  # generating a sample of length in len_group  
  grp1 = random.sample(stu_list, len)
  # remove those elements from the studnet_list that are in group sample,
  # so that the next time those elements will not be in another sample. 
  stu_list = list(set(stu_list) ^ set(grp1))
  # Adding the random sample to a resultant 2d array.
  res = res + [grp1]
    
# printing the 6 groups.
for row in res:
    print(row, end= '\n')

['gn0108', 'hy0232', 'jl1252', 'sk1313']
['aos0040', 'kg0470', 'sc1229', 'sg1297']
['ds0814', 'dr0609', 'ak0956', 'ja0964', 'vb0218']
['ms1500', 'nv0234', 'sb1357', 'fh0141', 'nm0618', 'sk1390']
['sm1640', 'sa1198', 'sm1907', 'kg0569', 'bg0320']
['sk1386', 'av0659', 'vm0377', 'ak0934', 'sk1458', 'pr0353']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [22]:
# write your answer here
from numpy.core.defchararray import endswith

import numpy as np
arr1 = np.array([1, 2, 6, 5, 6, 4, 5, 6, 5, 4, 7, 8, 3, 6, 1])
#arr1 = np.array([2, 3, 4, 5])

flag1 = 0

for n in set(arr1):
  # get the count of occurences that are greater than 1.
  if np.count_nonzero(arr1 == n) > 1:
    flag1 = 1
    print(n, end = ', ')

# if there are no duplicate elements, tehn we print '-1'.
if flag1 == 0:
  print("-1")

1, 4, 5, 6,

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [ ]:
# write your answer here

from datetime import date, timedelta

def all_sundays(year):
# January 1st of the given year
       dt = date(year, 1, 1)
# First Sunday of the given year       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(2022):
   print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25