<a href="https://colab.research.google.com/github/GillalaJeevana/Jeevana_INFO5502_Spring2022/blob/main/lab_assignment_02_(7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (02/04/2022, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
# Your code here
import random
def generateRandomNumbers(start,end,length):
  numberList = random.sample(range(start, end), length)
  return numberList

In [40]:
numbers = generateRandomNumbers(1, 100, 12)
print(numbers)

[61, 38, 44, 73, 53, 68, 90, 39, 78, 51, 66, 43]

# Ascending

In [41]:
sorted(numbers)

[38, 39, 43, 44, 51, 53, 61, 66, 68, 73, 78, 90]

# Descending

In [42]:
sorted(numbers, reverse=True)

[90, 78, 73, 68, 66, 61, 53, 51, 44, 43, 39, 38]

# Average

In [43]:
from statistics import mean

mean(numbers)

58.666666666666664

# Question 2
(20 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [44]:
# Your code here
sentence = []
for _ in range(0, 2):
 print("Enter your sentence one:::")
 sentence.append(input())

Enter your sentence one:::
jeevana Gillala Reddy $ % @
Enter your sentence one:::
#%@&

In [45]:
sentence

['jeevana Gillala Reddy $ % @', '#%@&']

In [46]:
import re

updatedList = []
for se in sentence:
  sent = re.findall(r"[\w']+|[.,!?;#@]", se)
  updatedList.append(sent)

In [47]:
updatedList

[['jeevana', 'Gillala', 'Reddy', '@'], ['#', '@']]

In [48]:
set(updatedList[0]) & set(updatedList[1])

{'@'}

In [49]:
sentence

['jeevana Gillala Reddy $ % @', '#%@&']

In [50]:
re.sub(r'[^\w\s]', '', sentence[0])

'jeevana Gillala Reddy   '

In [51]:
def countVowels(sentence):
  lowercase = sentence.lower()
  vowels = {}
  for v in "aeiou":                        
    countOfVowels = lowercase.count(v)
    vowels[v] = countOfVowels
  print(vowels)

In [52]:
countVowels('Jeevana Gillala')

{'a': 4, 'e': 2, 'i': 1, 'o': 0, 'u': 0}

# Question 3 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [53]:
# Your code here
for radius in range(1, 11):
  volume = (4/3)*(3.1415)*(radius**3)
  print("%d\t\t%.3f"%(radius, volume))

1		4.189
2		33.509
3		113.094
4		268.075
5		523.583
6		904.752
7		1436.713
8		2144.597
9		3053.538
10		4188.667

# Question 4

(20 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [54]:
# Your code here
#Q1

import pandas as pd
import statistics
pd.options.mode.chained_assignment = None 

#Q1:

def differenceintheNumberofOccupiedHousingUnits(df):
  df['year'] = pd.to_datetime(df['year'],format='%Y')
  df['year'] = df['year'].dt.year
  df1 = df[df['title_field'] == 'Occupied Housing Units'] 
  df1.sort_values(by=['year'], ascending=True, inplace=True)
  df1['Difference'] = df1['value'].diff()
  diffList = difference(df1['year'].values.tolist())
  df1.dropna(inplace=True)
  df1['Year Difference'] = diffList
  df2 = df1.iloc[:, -2:] 
  df2 = df2[['Year Difference', 'Difference']]
  df2.reset_index(drop=True, inplace=True)
  print(df2)

def difference(yearList):
  combinedList = []
  yearList1 = yearList[1:]
  for year1, year2 in zip(yearList, yearList1):
    combinedList.append(str(year1) + '-' + str(year2))
  return combinedList

In [55]:
df = pd.read_csv('/content/sample_data/lab_assignment_02_denton_housing.csv')

In [56]:
differenceintheNumberofOccupiedHousingUnits(df)

  Year Difference  Difference
0       2008-2009      -795.0
1       2009-2010      5091.0
2       2010-2011      -303.0
3       2011-2012      1404.0
4       2012-2013      1565.0
5       2013-2014      2622.0

# Q2:

In [57]:
yearvalues = sorted(list(set(df['year'].values.tolist())), reverse = True)
totalHosuingValues = df[df['title_field'] == 'Total Housing Units']['value'].tolist()
vacantHousingValues = df[df['title_field'] == 'Vacant Housing Units']['value'].tolist()
occupiedHousingValues = df[df['title_field'] == 'Occupied Housing Units']['value'].tolist()
vacantPercentageList = [str((vacant / total) * 100) + "%" for vacant, total in zip(vacantHousingValues, totalHosuingValues)]
occupiedpercentageList = [str((occupied / total) * 100) + "%"  for occupied, total in zip(occupiedHousingValues, totalHosuingValues)]
df2 = pd.DataFrame({'Year': yearvalues,
                     'Vacant Housing Units': vacantPercentageList,
                     'Occupied Housing Units': occupiedpercentageList})
print(df2)

   Year Vacant Housing Units Occupied Housing Units
0  2014   5.730110570363885%     94.26988942963611%
1  2013   8.801787504176412%     91.19821249582358%
2  2012   6.677600230491346%     93.32239976950866%
3  2011   9.379522229890688%      90.6204777701093%
4  2010   8.142556337081672%     91.85744366291833%
5  2009    9.07111572444872%     90.92888427555128%
6  2008   10.88265281351653%     89.11734718648347%

# Q3

In [58]:
def getMaxValue(df, columnsName):
  df1 = df[df['title_field'] == columnsName]
  max = df1['value'].max()
  year = df1[df1['value'] == max]['year'].values[0]
  return year, max

In [59]:
vacantTuple = getMaxValue(df,'Vacant Housing Units')
occupiedTuple = getMaxValue(df,'Occupied Housing Units')
df3 = pd.DataFrame({'Title': ['Vacant Housing Units', 'Occupied Housing Units'],
                     'Year' : [vacantTuple[0], occupiedTuple[0]],
                      'Value': [vacantTuple[1], occupiedTuple[1]]
                     })
df3.set_index('Title')
print(df3)

                    Title  Year  Value
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295

# Q4

In [60]:
totalHousingValues = df[df['title_field'] == 'Total Housing Units']['value'].tolist()
harmonicMean = statistics.harmonic_mean(totalHousingValues)
print(f"Harmonic mean of the total housing units is {harmonicMean}")

Harmonic mean of the total housing units is 44398.28543969185