<a href="https://colab.research.google.com/github/GillalaJeevana/Jeevana_INFO5502_Spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [14]:
# write your answer here
def variablecount(str1):

 di={}
 for n in str1:
        k = di.keys()
        if n in k:
            di[n] += 1
        else:
            di[n] = 1
 
 #print(dict)
 
 #print(a)
 
 
 sorted_count=dict(sorted(di.items(),key = lambda ks: -ks[1]))
 print(sorted_count)
 
str2= input("enter the string")
variablecount(str2)

enter the stringjeevana
{'e': 2, 'a': 2, 'j': 1, 'v': 1, 'n': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [15]:
# write your answer here
# write your answer here
def sum(items):
    sum_num = 0
    for i in items:
        sum_num += i
    return sum_num
print(sum([+0,-7,0]))

-7

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [16]:


# write your answer here
def char(str):
  x = str[0]
  str = str.replace(x , '$')
  str = x + str[1:]

  return str

print(char("krkkkkackk"))

kr$$$$ac$$

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [17]:
# write your answer here
# write your answer here


def cube(number):
    return number * number * number
    
a = float(input("enter first parameter:"))
b = float(input("enter second parameter"))
number =(1 + a/b)
cub = cube(number)
s = 3.14 * cub
print("The result of S =", s)

enter first parameter:2
enter second parameter3
The result of S = 14.537037037037033

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [18]:
# write your answer here
# write your answer here
d1={1:10, 2:20}  
d2={3:30, 4:40}  
d3={3:30,5:50} 
d4={6:60,7:70} 
d5 = {}  
for i in (d1, d2, d3, d4): d5.update(i)  
print(d5)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [19]:
# write your answer here
a=input("enter tuple to search")
b= input("enter element to search")
#print(tuple(t.split()))
if(b in a):
  print("element present")
else:
  print("not present")

enter tuple to searchjeevana, Gillala
enter element to searchilla
element present

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [20]:
# write your answer here
x=input("Enter the numbers separated by space to find minimum and maximum")
y=[int(y) for y in x.split(" ")]
print ("min is ",min(y))
print ("max is ",max(y))

Enter the numbers separated by space to find minimum and maximum300 400 40 30 500
min is  30
max is  500

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [21]:
# write your answer here
# write your answer here
import numpy as np, random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']


len_g =[4,6,5,6,4,5]
rslt = []
for l in len_g:
 
  grp = random.sample(studnet_list, l)

  studnet_list = list(set(studnet_list) ^ set(grp))
  rslt = rslt + [grp]

for r in rslt:
    print(r, end= '\n')

['ms1500', 'sm1907', 'vm0377', 'sb1357']
['ds0814', 'jl1252', 'sk1458', 'kg0470', 'dr0609', 'nv0234']
['aos0040', 'kg0569', 'ja0964', 'ak0934', 'ak0956']
['sk1390', 'vb0218', 'hy0232', 'sk1386', 'sc1229', 'sa1198']
['sg1297', 'gn0108', 'av0659', 'nm0618']
['sm1640', 'sk1313', 'fh0141', 'pr0353', 'bg0320']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [22]:
# write your answer here
arr= [1, 2, 3, 4, 2, 7, 8, 8, 3];   
flag=0;   
for a in range(0, len(arr)):    
    for b in range(a+1, len(arr)):    
        if(arr[a] == arr[b]):   
           flag = 1 
           print(arr[b]);    
if flag == 0:
  print("-1")

2
3
8

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [23]:
# write your answer here
import pandas as pn

def a_sund(year):
  return pn.date_range(start=str(year), end=str(year+1), freq='W-SUN').strftime('%d-%B-%Y').tolist()

year = int(input("Enter the year you want to get Sundays of: "))
a_sund(year)

Enter the year you want to get Sundays of: 2021

['03-January-2021',
 '10-January-2021',
 '17-January-2021',
 '24-January-2021',
 '31-January-2021',
 '07-February-2021',
 '14-February-2021',
 '21-February-2021',
 '28-February-2021',
 '07-March-2021',
 '14-March-2021',
 '21-March-2021',
 '28-March-2021',
 '04-April-2021',
 '11-April-2021',
 '18-April-2021',
 '25-April-2021',
 '02-May-2021',
 '09-May-2021',
 '16-May-2021',
 '23-May-2021',
 '30-May-2021',
 '06-June-2021',
 '13-June-2021',
 '20-June-2021',
 '27-June-2021',
 '04-July-2021',
 '11-July-2021',
 '18-July-2021',
 '25-July-2021',
 '01-August-2021',
 '08-August-2021',
 '15-August-2021',
 '22-August-2021',
 '29-August-2021',
 '05-September-2021',
 '12-September-2021',
 '19-September-2021',
 '26-September-2021',
 '03-October-2021',
 '10-October-2021',
 '17-October-2021',
 '24-October-2021',
 '31-October-2021',
 '07-November-2021',
 '14-November-2021',
 '21-November-2021',
 '28-November-2021',
 '05-December-2021',
 '12-December-2021',
 '19-December-2021',
 '26-December-2021']